@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap');
:root {
    --primary: #3CACDC;
    --white: #fff;
    --black: #090516;
    --grey: #f6f6f6;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Heebo', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.anchor {
    display: block;
    height: 95px; /*same height as header*/
    margin-top: -95px; /*same height as header*/
    visibility: hidden;
}
body{
    color:var(--black);
}

h3{
    font-family: 'Roboto Slab', serif;
}
/* intro animation */
.intro{
    background: var(--white);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
}
.slider{
  background: var(--black);
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: 99;
}

.intro-logo{
  width: 15rem;
  height: auto;
}

.hide{
  background-color:var(--white);
  overflow: hidden;
}

.hide img{
  transform: translateY(100%);
}

/* intro animation */

/* navbar */
header{
    display:flex;
    justify-content:space-around;
    align-items:center;
    position: fixed;
    z-index:80;
    background:var(--white);
    width: 100%;
    padding:10px;
    box-shadow: 0px 1px 20px 0px rgba(9,5,22,0.46);
    -webkit-box-shadow: 0px 1px 20px 0px rgba(9,5,22,0.46);
    -moz-box-shadow: 0px 1px 20px 0px rgba(9,5,22,0.46);
}
header li, header a, header button, .side p, .side{
    color:var(--black);
    font-weight:400;
    text-decoration: none;
}
nav{
    display:flex;
    align-items:center;
    align-content: center;
    width:100%;
    justify-content: space-around;
}
.open-slide{
    display: none;
}
nav > a{
    display:flex;
}
.logo{
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    color:var(--black);
    font-size: 2.5rem;
    font-weight:600;
}
.hamburger{
    width:60px;
    height: auto;
    transition: all 0.3s ease 0s;
    padding:3px;
}
.nav_links{
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav_links li{
    padding:0 18px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.nav_links li a{
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color:var(--primary);
}

.side-nav{
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 1;
    top:0;
    left:0;
    background:var(--white);
    overflow-x:hidden;
    padding-top:60px;
    border-top-right-radius: 18px;
    transition: all 0.5s ease 0s;
}

.side-nav a{
    padding:20px 10px 10px 40px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    color:var(--black);
    transition: all 0.3s ease 0s;
}
.side-nav a:hover{
    color:var(--primary);
}

.side-nav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left: 50px;
}
.hamburger{
    width:100%;
    cursor: pointer;
}
#temp_fix{
    opacity: 0;
    display:flex;
}
.open-slide > a{
    display:flex;
}
.scroll_down{
    text-align: center;
    font-size:2rem;
    margin-bottom:2.5rem;
}
.scroll_down > a{
    text-decoration: none !important;
    color:var(--primary);

}
/* navbar */

/* hero */
#particle-div{
    position : absolute;
    width:90%;
    height:100%;
    z-index:-1;
}
#hero_content{
    width:90%;
    height:100%;
    margin:auto;
}
#hero_content >h2{
    color:var(--black);
    font-size:3rem;
    letter-spacing: 4px;
    padding-top:9rem;
    margin-bottom:1rem;
    font-family: 'Roboto Slab', serif;
}
.invisible_arrow{
    display:none;
}
#hero_content >h3{
    color:var(--primary);
    font-weight:600;
    font-size:1.5rem;
    margin-bottom:1rem;
    letter-spacing: 3px;
}

#hero_content >p{
    color:var(--black);
    width: 60%;
    font-size:1.2rem;
}
.primary_word{
    color:var(--primary);
    font-weight:600;
}
.bold_word{
    font-weight: 600;
}
.mybtn{
    outline:none;
    width:100px;
    cursor: pointer;
    padding: 10px;
    transition: all 0.7s ease 0s;
    font-size: 1.2rem;
    background-color:transparent;
    color: var(--black);
    border: 3px solid var(--black);
    border-radius:5px;
    margin-bottom:1rem;
}
.mybtn:hover{
    border-color:var(--primary);
    color:var(--white);
    background:var(--primary);
}
.touch{
    margin-top:25px;
    width: 180px;
    transition: all 0.7s ease 0s;
}
.social_media{
    width: 160px;
    text-align: center;
    margin-bottom:2.5rem;
}
.social_media_button{
    color:var(--black);
    font-size:1.5rem;
    margin: 0 0.5rem;
}
/* hero */

.section_title{
    text-align:center;
    color:var(--black);
    font-size:2.5rem;
    letter-spacing: 4px;
    margin-bottom:1rem;
    font-family: 'Roboto Slab', serif;
    padding-top:3rem;
}
.section_subtitle{
    text-align:center;
    color:var(--primary);
    font-size:1.5rem;
    letter-spacing: 2px;
}

/* about section */
.about{
    height:100%;
    background-color:var(--grey)
}
.about_content{
    width:90%;
    display:flex;
    align-items: center;
    margin:auto;
    justify-content:space-around;
    padding-bottom:3rem;
}
.about_image img{
    width:12rem;
    height:auto;
}
.about_text{
    width:60%;
    text-align:center;
    font-size:1.2rem;
}
/* about section */

/* skills section */
.skills{
    height:100%;
    background-color:var(--white)
}
.skills_card_container{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width:80%;
    margin: 4rem auto;
}
.skills_card{
    width:20rem;
    padding:1rem;
    box-shadow: 0px 0px 25px 5px rgba(9,5,22,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem 1rem;
}
.skills_card_title{
    color:var(--black);
    font-size:1.3rem;
    font-weight:600;
    text-align:center;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 1rem;
}
.skill_items{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.skill_item{
    background-color: var(--primary);
    display: inline;
    padding:0.2rem 0.4rem;
    border-radius:4px;
    color:var(--white);
    margin:0.5rem;
}
/* skills section */

/* projects section */
.projects{
    height:100%;
    background-color:var(--grey)
}
.projects > .section_title{
    margin-bottom:3rem;
}
.proj_right{
    flex-direction: row-reverse;
    text-align:right;
}
.proj{
    width:90%;
    display:flex;
    align-items: center;
    margin:auto;
    padding-bottom:4rem;
    justify-content:space-around;
}
.proj .proj_desc{
    width:50%;
}
.proj h4{
    margin:1rem 0;
    font-size:1.4rem;
    letter-spacing: 1.5px;
    color:var(--primary);
    font-weight:600;
    font-family: 'Roboto Slab', serif;
}
.proj h3{
    letter-spacing: 1.5px;
    font-size:1.8rem;
    color:var(--black);
    font-weight:600;
}
.proj p{
    margin:1rem 0;
    font-size:1.15rem;
    color:var(--black);
}
.proj > img{
    width:25rem;
    height:auto;
    box-shadow: 0px 0px 25px 10px rgba(9,5,22,0.2)
}
/* projects section */

/* blog */
.blog{
    height:100%;
    background-color:var(--white)
}
.blog_cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top:3rem;
    width: 90%;
    margin: auto;
}
.blog_card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--black);
    margin: 0 1rem;
}
.blog_card .image_container{
    width:25vw;
    display: inline-block;
    overflow: hidden;
}
.blog_card .blog_image{
    width:100%;
    height:auto;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.blog_card .blog_image:hover{
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
}
.blog_card > h4{
    padding-top:1rem;
    font-size:1.2rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.blog_card > h4:hover{
    color:var(--primary);
}
.blog_card > p{
    font-size:0.9rem;
    font-style: italic;
}
.blog .more{
    text-align:center;
    padding:3rem 0;
}
.blog .more a{
    font-size:1.1rem;
    text-decoration: inherit;
    color:var(--primary);
    font-weight:400;
    transition: all 0.3s ease 0s;
}
.blog .more a:hover{
    color:var(--black);
}
.blog .more a .bxs-right-arrow-circle{
    vertical-align:middle;
    font-size:2rem;
}
.blog .more a span{
    vertical-align:middle;
}
.blog_card h4, .blog_card p{
    text-align:center;
}

/* blog */
/* contact */
.contact{
    background-color:var(--grey);
    height:100%;
}
.contact > .section_title{
    margin-left: 1rem;
    margin-right: 1rem;
}
.custom-btn {
    width:27rem;
    padding:1.2rem 0rem;
    text-align:center;
    background-color: var(--black);
	height: auto;
	border-radius: 0px;
	color: var(--white);
    font-size: 1.4rem;
	transition: all .4s;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
    text-decoration:none;
    margin:1rem;
}
.blue-btn{
    background-color:var(--primary)
}

.custom-btn:hover {
    width:28.5rem;
    padding:1.4rem 0rem;
}
.connect{
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
}

/* contact */

@media only screen and (max-width:1300px) {
    .intro-logo{
        width: 13rem;
        height: auto;
    }
    .blog_card > h4{
        font-size:1.1rem;
    }
    .custom-btn {
        width:25.5rem;
        padding:1.1rem 0rem;
        font-size: 1.2rem;
    }
    .custom-btn:hover {
        width:27rem;
        padding:1.3rem 0rem;
    }
    .contact > .section_title{
        font-size:2.3rem;
    }
    .contact > .section_subtitle{
        font-size:1.3rem;
    }
    .proj > img {
        width: 23rem;
        height: auto;
    }
}
@media only screen and (max-width:952px) {
    .intro-logo{
        width: 11rem;
        height: auto;
    }
    .about_text{
        width:60%;
        text-align:center;
        font-size:1rem;
    }
    .contact > .section_title{
        font-size:2.1rem;
    }
    .contact > .section_subtitle{
        font-size:1.15rem;
    }
    .proj .proj_desc {
        width: 40%;
        margin-right: 1rem;
    }
    .proj > img {
        width: 22rem;
        height: auto;
    }
    .proj h4{
        font-size:1.25rem;
    }
    .proj h3{
        font-size:1.6rem;
    }
    .proj p{
        font-size:1rem;
    }
}
@media only screen and (max-width:768px) {
    .intro-logo{
        width: 8rem;
        height: auto;
    }
    .nav_links{
        display:none;
    }
    .open-slide{
        display: block;
    }
    .logo{
        margin:auto;
    }
    .hamburger{
        margin:1rem;
    }
    #hero_content{
        text-align:center;
    }
    #hero_content >p{
        width: 100%;
        font-size:1rem;
    }
    #hero_content >h2{
        font-size:2rem;
    }
    #hero_content >h3{
        font-size:1.2rem;
    }
    .invisible_arrow{
        display:initial;
    }
    .mybtn{
        width:140px;
        font-size: 1.1rem;
        padding: 10px;
    }
    .social_media{
        width: 100%;
    }
    .about_content{
        flex-direction: column;
    }
    .about_image{
        margin-bottom:1.5rem;
        margin-top:1rem;
    }
    .about_image img{
        width:10rem;
        height:auto;
    }
    .about_text{
        width:80%;
    }
    .blog_cards{
        flex-direction:column;
    }
    .blog_card{
        margin-bottom: 2rem;
    }
    .blog_card .image_container{
        width:50vw;
    }
    .contact > .section_title{
        font-size:1.9rem;
    }
    .projects > .section_title{
        font-size:2.3rem;
    }
    .contact > .section_subtitle{
        font-size:1rem;
    }
    .custom-btn {
        width:20rem;
        padding:1rem 0rem;
        font-size: 1.2rem;
    }
    .custom-btn:hover {
        width:22rem;
        padding:1.1rem 0rem;
    }
    .proj{
        flex-direction: column;
        align-items:flex-start;

    }
    .proj .proj_desc {
        width: 90%;
        margin-right: 0rem;
    }
    .proj_right{        
        align-items:flex-end;
    }
    .proj p {
        font-size: 0.9rem;
    }
    .proj > img {
        margin-top: 1rem;
    }
    .proj h4{
        font-size:1.15rem;
    }
    .proj h3{
        font-size:1.5rem;
    }
}
@media screen and (max-width: 560px) {
    #hero_content >p{
        width: 100%;
        font-size:0.8rem;
    }
    #hero_content >h2{
        font-size:1.6rem;
    }
    #hero_content >h3{
        font-size:1rem;
    }
    .mybtn{
        width:140px;
        font-size: 1rem;
        padding: 6px;
    }
    .blog_card > h4{
        font-size:0.9rem;
    }
    .blog_card > p{
        font-size:0.7rem;
        font-style: italic;
    }
    .blog_card .image_container{
        width:55vw;
    }
    .contact > .section_title{
        font-size:1.1rem;
    }
    .projects > .section_title{
        font-size:1.6rem;
    }
    .custom-btn {
        width:16rem;
        padding:0.8rem 0rem;
        font-size: 0.9rem;
    }
    .custom-btn:hover {
        width:16rem;
        padding:0.8rem 0rem;
    }
    .scroll_down{
        font-size:1.6rem;
    }
    .proj > img {
        width: 18rem;
        height: auto;
    }
}